<div class="col">
  <div class="p-3 border text-center">

    <h4><%= user.name %></h4>

    <% if !matchup.user_picks(user).empty? %>
      <ul>
        <% matchup.user_picks(user).each do |pick| %>
          <li><%= pick.player.name %> - STATS TODO</li>
        <% end %>
      </ul>
    <% else %>
      <h5>No picks yet.<h5>
    <% end %>
  </div>
</div>