<div class="row mb-3 justify-content-center">

  <% if matchup.status == "Draft" %>
    <%= link_to "Draft Table", matchup_draft_table_path(matchup), class: "btn btn-primary" %>
  <% end %>

  <% if owner?(matchup) %>
    <% if matchup.status == "Pre-Draft" %>
      <%= link_to "Start Draft", matchup_start_draft_path(matchup), class: "btn ml-3 btn-primary" %>
      <%= link_to "Edit Matchup", edit_matchup_path(matchup), class: "btn ml-3 btn-primary" %>
    <% end %>
  
  <%= button_to "Delete Matchup", "/matchups/#{matchup.id}", method: "delete", class: "btn ml-3 btn-danger" %>
  <% end %>
</div>
