<div class="row justify-content-center my-3">
  <h3>Players</h3>
  <% if owner?(matchup) && matchup.status == "Pre-Draft" %>
    <div><%= link_to "Create Invitation", new_matchup_invitation_path(matchup), class: "btn btn-primary ml-3" %></div>
  <% end %>
</div>

<table class="table text-center">
  <thead>
    <th>Name</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% matchup.user_matchups.order('id').each do |user_matchup| %>
      <tr>
        <td><%= user_matchup.display_name %></td>
        <td>
          <div class="row justify-content-center">
          <% if user_matchup.owner_or_user?(current_user) %>
            <%= link_to "Change Nickname", edit_matchup_user_matchup_path(matchup, user_matchup), class: "btn btn-sm btn-primary mr-3" %>
            <%= button_to "Remove", matchup_user_matchup_path(matchup, user_matchup), method: :delete, class: "btn btn-sm btn-danger" if matchup.is_pre_draft? %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>