<div class="container-sm mt-3 text-center">
  <h2 class="text-center">Update Matchup</h2>
  <div>Matchup cannot be edited after draft has started.</div>
  <%= render partial: 'form', locals: {matchup: @matchup} %>
</div>