<div class="row my-3 justify-content-center">
  <h3>Your Matchups</h3>
</div>

<%= render partial: 'matchups_table', locals: {matchups: @matchups} %>

<div class="row my-3 justify-content-center">
  <h3>Managed Matchups</h3>
  <%= link_to "New Matchup", new_matchup_path, class: "btn btn-primary ml-3" %>
</div>

<%= render partial: 'matchups_table', locals: {matchups: @owned_matchups} %>