<%= render partial: 'matchups/details', locals: {matchup: @invitation.matchup} %>

<div>Join Matchup?</div>
<%= button_to "Join", matchup_user_matchups_path(@invitation.matchup), params: {code: @invitation.code}, class: "btn btn-primary" %>